html, body {
    height: 100%;
}

body {
    font-family: 'Libre Baskerville', serif;

    margin: 0;
}

.vertical-center {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
}

.center {
    text-align: right;

    background: linear-gradient(-90deg, #ED5148 0%, #ED5148 18%, #FFFFFF 18.1%, #FFFFFF);
    padding-right: 20%;
    padding-left: 10%;

    width: 100%;
}

.quote {
    font-size: 48px;
}

.quote a {
    color: inherit;
    text-decoration: none;
}

.author {
    margin-top: 1em;
    font-size: 28px;
    text-align: right;
}