<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="quote" type="com.greyfocus.quotes.model.Quote"*/-->

<head>
    <link th:href="@{/css/styles.css}" type="text/css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'/>

    <title>Random Quote</title>
</head>

<body>
<div class="vertical-center">
    <div class="center">
        <div class="quote"><a th:href="@{/quotes/{quoteId}(quoteId=${quote.id})}" th:text="${quote.text}"></a></div>
        <div class="author"><span th:text="'~ ' + ${quote.author.name}"></span><span th:if="${quote.source != null}" th:text="', ' + ${quote.source.name}"></span></div>
    </div>
</div>
</body>
</html>